@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EFF2FB;
}

.primary-text{
  color: #F56A1E ;
}
.secondary-text{
  color: #32345B;
}
.common-text{
color: #7A8AA2;
}
.primary-bg{
  background-color: #F56A1E;
}
.secondary-bg{
  background-color: #32345B;
}
